%h1 Lista książek
%span
    Szukaj
    = search_form_for @q do |f|
        = f.label :name_cont, "Tytuł:"
        = f.text_field :name_cont
        = f.label :descriprion_cont, "Opis:"
        = f.text_field :description_cont
        = f.submit
= will_paginate @books
%table.with_border
    %tr
        %th Tytuł
        %th Opis
        %th Akcje

    - @books.each do |book|
        %tr
            %td=book.name
            %td=book.description.size > 50 ? book.description[0,50] + "..." : book.description
            %td
                =link_to "Pokaż", book
                =link_to "Edytuj", edit_book_path(book)
                =link_to "Usuń",  book, :method => :delete

= will_paginate @books
=link_to "Dodaj książkę", new_book_path
